<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rose for 5th Anniversary</title>
    <!-- 添加link标签 -->
    <link rel="stylesheet" href="<%= pathCSS %>" />
  </head>

  <body>
    <canvas id="mainCanvas" class="webgl"></canvas>
    <div
      id="loading"
    >
      <div class="loading-text">Loading ...</div>
      <div class="progress-bar">
        <div class="progress-bar-inner" id="progress-bar-inner"></div>
      </div>
    </div>

    <div class="text-area">
      <div class="text">5th Anniversary of HyG & Zy</div>
      <div class="text text-sub">2018.9.12 - 2023.9.12</div>
    </div>
    <script src="<%= path %>" charset="utf-8"></script>
  </body>
</html>
